@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #030303;
  @apply text-main;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    @extend .text-gradient;
  }
}

* {
  box-sizing: border-box;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.btn {
  @apply rounded-full px-6 capitalize text-black;
  background: linear-gradient(258.65deg, #9be3ff 15.72%, #f4b1ea 47.45%, #f8d46b 84.17%);
  &:hover {
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
    @apply scale-105;
  }
}

.bg-gradient {
  background: linear-gradient(258.65deg, #9be3ff 15.72%, #f4b1ea 47.45%, #f8d46b 84.17%);
}

.text-gradient {
  background: linear-gradient(258.65deg, #9be3ff 15.72%, #f4b1ea 47.45%, #f8d46b 84.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  &:hover {
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
  }
}

.tab-list {
  @apply flex flex-row gap-12 text-[18px] font-medium text-gray;
  .tab-title {
    @apply cursor-pointer pb-3 outline-none;
    &:hover,
    &.react-tabs__tab--selected {
      @apply relative;
      @extend .text-gradient;
      &:before {
        @apply absolute bottom-0 left-0 w-full max-w-[53px]
        rounded-full;
        background: linear-gradient(258.65deg, #9be3ff 15.72%, #f4b1ea 47.45%, #f8d46b 84.17%);
        content: '';
        height: 5px;
      }
      &:hover {
        &:before {
          background-size: 200% 100%;
          animation: gradient 5s ease infinite;
        }
      }
    }
  }
}
